.container-carousel{
  z-index: 5;
}

.active-slide div span img{
  width: 650px !important;
  height: 250px !important;
  border-radius: 20px !important;
  transition: all .5s ease-in-out;
  box-shadow: 0px 13px 50px 6px rgba(0, 0, 0, 0.28);
}

.image-item div span img{
  border-radius: 20px !important;
  transition: all .5s ease-in-out;
}

.active-slide div span{
  border-radius: 20px !important;
}

.image-item div span{
  border-radius: 20px !important;
}

.active-slide div span img:hover{
  border-radius: 20px !important;
  transform: scale(1.1);
}

.image-item div span img:hover{
  border-radius: 20px !important;
  transform: scale(1.1);
}

.image-item {
  z-index: 5;
  padding-top: 20px;
  display: flex;
  padding-bottom: 60px;
}

.active-slide {
  flex: 2 1 auto;
  display: flex;
  text-align: center !important;
  justify-content: center !important;
}

.active-slide-responsive {
  flex: 1 1 auto;
  display: flex;
  text-align: center !important;
  justify-content: center !important;
}

.active-slide-responsive div span img{
  border-radius: 20px !important;
  transition: all .5s ease-in-out;
  box-shadow: 0px 13px 50px 6px rgba(0, 0, 0, 0.28);
}

.image-start{
  flex: 1 1 auto;
  text-align: start !important;
}

.image-end{
  flex: 1 1 auto;
  text-align: end !important;
}

.custom-dot-list-style{
  z-index: 5;
}

.custom-dot-list-style .react-multi-carousel-dot button {
  background-color: #FFFFFF;
  border: 0px solid transparent !important;
}

.react-multi-carousel-dot--active button{
  background: rgba(255, 255, 255, 0.5) !important;
  border: 0px solid transparent !important;
}

/*.flicking .panel:nth-child(5n + 1) {
  background: #f47071;
}
.flicking .panel:nth-child(5n + 2) {
  background: #f69462;
}
.flicking .panel:nth-child(5n + 3) {
  background: #ede484;
}
.flicking .panel:nth-child(5n + 4) {
  background: #90f290;
}
.flicking .panel:nth-child(5n + 5) {
  background: #78caff;
}
.flicking .infinite0 {
  background: #f47071;
}
.flicking .infinite1 {
  background: #f69462;
}
.flicking .infinite2 {
  background: #ede484;
}
.flicking .infinite3 {
  background: #90f290;
}
.flicking .infinite4 {
  background: #78caff;
}
 */
